* {
  /* font-family: 'Inter', sans-serif; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  display: flex;
}
.body {
}

.father {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  background-image: url(../images/2.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  height: 75vh;
}
.menu {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
}
.logo {
  display: flex;
  padding: 10px;
  align-items: center;
}
.logo a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.logo a:hover {
  color: #115a57;
}
.nav {
  color: black;
  padding: 10px;
  flex-direction: row;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav ul {
  justify-content: flex-end;
  color: white;
  text-align: center;
  list-style: none;
  margin-top: 3px;
  margin-left: -40px;
}
.nav a:hover {
  color: #115a57;
}
.menu-icon {
  display: flex;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}
.item {
  width: 100%;
  padding: 10px;
}

.list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hide {
  display: none;
}
.main-text {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 25rem;
  justify-content: center;
  text-align: center;
}
.main-text h4 {
  color: white;
}
.section {
  height: auto;
}
.articles {
  display: flex;
  flex-direction: column;
  background-color: #0b2545;
  color: white;
  padding: 10px;
  width: 100%;
  height: 50vh;
  justify-content: space-around;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 0px;
  padding: 7px 5px 7px 15px;
  margin: 10px;
  background-color: beige;
}
.search {
  display: flex;
  background-color: beige;
  border-radius: 30px;
  padding: 15px 50px 15px 50px;
  margin: 15px;
  text-decoration: none;
  color: black;
}
.search:hover {
  background-color: #5b8e7d;
}
.offers-in-grid {
  display: grid;
  margin: 1rem;
  grid-auto-rows: 200px;
  height: 50rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  padding: 5px;
  align-items: stretch;
}
.grid > article {
  border: 1px solid beige;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.grid > article img {
  max-width: 100%;
}
.grid .text {
  padding: 20px;
}
.boton-offers {
  justify-content: center;
  background-color: #0b2545;
  color: white;
  border-radius: 5px;
  padding: 10px;
}
.foot {
  padding: 10px;
  background-color: #0b2545;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.foot a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
.foot a:hover {
  color: #115a57;
}

@media screen and (min-width: 600px) {
  .nav {
    flex-direction: row;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  .list-item {
    margin-left: 20px;
    width: fit-content;
    padding: 0;
  }

  .menu-icon {
    display: none;
  }

  .hide {
    display: flex;
  }
}

@media screen and(min-width: 650px) {
  .header {
    flex-direction: row;
  }
  .menu {
    flex-direction: row;
  }
}
@media screen and (min-width: 850px) {
  .articles {
    flex-direction: row;
    display: flex;
    height: 125px;
  }
  .foot {
    display: flex;
    flex-direction: row;
  }
}
