* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
}
.background {
  background-image: url(../images/1.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}
.header {
  display: flex;
}
.menu {
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 8px;
  display: flex;
  border-radius: 7px;
  width: 100%;
}
.logo {
  text-transform: uppercase;
}
.logo a:hover {
  color: #115a57;
}
.nav {
}
.nav a {
  padding: 0 10px 0 10px;
}
.nav a:hover {
  color: #115a57;
}
.sesion {
}
.sesion a:hover {
  color: #115a57;
}
.main-text {
  color: #0b2545;
  justify-content: center;
  justify-content: space-around;
  font-size: 13px;
  display: flex;
  height: auto;
  margin: 5px;
}

.section {
  display: flex;
  flex-direction: column;
}
.articles {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 14px;
}

.article {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
  margin: 25px;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}
.boton {
  background-color: #0b2545;
}
.article a {
  background-color: #0b2545;
  border-radius: 10px;
  text-align: center;
  margin: 15px;
  padding: 7px;
}

.article a:hover {
  background-color: #0b2545;
  color: white;
}
article .boton:hover {
  background-color: #115a57;
}

.navegation {
  background-color: hsl(213, 72%, 16%);
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
}
.navegation a {
  padding: 10px;
  font-size: 14px;
}
.navegation a:hover {
  color: #115a57;
}
.aside {
  display: flex;
  justify-content: space-between;
}

.foot {
  text-align: center;
  background-color: #0b2545;
  padding: 10px;
  justify-content: space-around;
}
.foot a:hover {
  color: #5b8e7d;
}
.off {
  display: none;
}

@media screen and (min-width: 600px) {
  .section {
  }
  .articles {
    flex-direction: row;
  }
  .article {
    width: 100%;
  }
  .foot {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 800px) {
  .nav {
    flex-direction: row;
  }
  .off {
    display: inline;
  }
}
