* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
.father {
  height: 100vh;
}
.section {
  display: flex;
  flex-direction: column;
}
.articles {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.3)
}

.article {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  flex-direction: column;
  margin: 15px;
  border-radius: 10px;
  height: 65vh;
  padding: 15px;
}
.article h1 {
  text-align: center;
  padding: 7px;
  color: white;
}
.boton {
  text-align: center;
  background-color: #102e53;
}
.article a {
  border-radius: 10px;
  padding: 7px;
  margin: 5px;
  width: 100%;
}
.article a:hover {
  background-color: #102e53;
}
article .boton:hover {
  background-color: #115a57;
}
.navegation {
  background-color: hsl(213, 72%, 16%);
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
}
.navegation a {
  padding: 10px;
  font-size: 14px;
}
.navegation a:hover {
  color: #5b8e7d;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .aside {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 850px) {
  .articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .article {
    width: 90%;
  }
}
