* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
.father {
  height: 100%;
}
.background {
  background-image: url(../images/1.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.menu {
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin: 8px;
  flex-direction: row;
  display: flex;
  border-radius: 7px;
}
.logo {
  text-transform: uppercase;
}
.logo a:hover {
  color: #115a57;
}
.nav {
}
.nav a {
  padding: 0 5px 0 5px;
}
.nav a:hover {
  color: #115a57;
}
.sesion {
}
.sesion a:hover {
  color: #115a57;
}
.main-text {
  color: #0b2545;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  font-size: 13px;
  display: none;
  height: 100%;
  justify-items: center;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
}
.articles {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: center;
  height: 100%;
}

.article {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: auto;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
}
.article h1 {
  text-align: center;
  padding: 7px;
  color: #0b2545;
}
.boton {
  text-align: center;
  background-color: #102e53;
}
.article a {
  border-radius: 10px;
  padding: 5px;
}
.article a:hover {
  background-color: #102e53;
}
article .boton:hover {
  background-color: #115a57;
}
.navegation {
  background-color: hsl(213, 72%, 16%);
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
}
.navegation a {
  padding: 10px;
  font-size: 14px;
}
.navegation a:hover {
  color: #5b8e7d;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
}
.foot {
  background-color: #0b2545;
  height: 100px;
  align-items: center;
  font-size: small;
  text-align: center;
}
.foot a:hover {
  color: #5b8e7d;
}
.off {
  display: none;
}

@media screen and (min-width: 600px) {
  .aside {
    display: flex;
    flex-direction: row;
  }
  .header {
    height: 10rem;
  }
  .nav {
    flex-direction: row;
  }
  .off {
    display: inline;
  }
  .foot {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 850px) {
  .nav {
  }
  .main-text {
    display: flex;
  }
  .articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .article {
    width: 90%;
  }
}
